#calculator {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    border: 5px solid #3f51b5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#result {
    height: 50px;
    text-align: right;
}

input {
    height: 30px;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 5px 15px -3px rgba(199,199,199,1);
}

    input:focus,
    button:focus {
        outline: 0;
    }

    button:hover {
        background-color: #eaeaea;
        cursor: pointer;
    }

#keyboard button {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(199,199,199,1);
}

#keyboard button#btn-equal {
    width: 50%;
}